---
- name: "Preflight - Fail if target host is not stable for this Role."
  ansible.builtin.fail:
    msg: "This role is not stable for the target operating system, {{ ansible_facts[distribution] }} {{ ansible_facts['distribution_major_version'] }}."
  when: (ansible_facts[distribution] is not defined) or
        (ansible_distribution_version is not defined) or
        (ansible_facts[distribution]+" "+ansible_facts['distribution_major_version'] not in ntp_stable_os)

- name: "Include OS Family specific Variables."
  ansible.builtin.include_vars: "{{ ansible_facts[os_family] }}.yml"

- name: "Install NTP on Redhat Derivatives."
  ansible.builtin.package:
    name: "{{ item }}"
    state: present
  with_items: "{{ ntp_prerequisites }}"
  when: ansible_facts[os_family] == "RedHat"

- name: "Install NTP on Debian Derivatives."
  ansible.builtin.package:
    name: "{{ item }}"
    state: present
  with_items: "{{ ntp_prerequisites }}"
  when: ansible_facts[os_family] == 'Debian'

- name: "Configure NTP."
  ansible.builtin.template:
    src: "ntp.conf.j2"
    dest: "/etc/ntp.conf"
    backup: true
    owner: root
    group: root
    mode: "0640"
  notify:
    - restart ntp
