# {{ ansible_managed }}

export http_proxy='http://{{ proxy_server }}:{{ proxy_port }}'
export https_proxy='http://{{ proxy_server }}:{{ proxy_port }}'
export no_proxy='localhost{% for proxy_exception in proxy_exceptions %}, {{ proxy_exception }}{% endfor %}'
export HTTP_PROXY='http://{{ proxy_server }}:{{ proxy_port }}'
export HTTPS_PROXY='http://{{ proxy_server }}:{{ proxy_port }}'
export NO_PROXY='localhost{% for proxy_exception in proxy_exceptions %}, {{ proxy_exception }}{% endfor %}'
