# {{ ansible_managed }}

/var/log/apache2/*.log {
	daily
	missingok
	rotate 14
	compress
	delaycompress
	dateext
	dateformat -%Y-%m-%d
	notifempty
	create 640 root adm
	sharedscripts
	postrotate
		if systemctl status apache2 > /dev/null 2>&1; then \
			systemctl reload apache2 > /dev/null 2>&1; \
		fi;
	endscript
	prerotate
		if [ -d /etc/logrotate.d/httpd-prerotate ]; then \
			run-parts /etc/logrotate.d/httpd-prerotate; \
		fi; \
	endscript
}
