# {{ ansible_managed }}

/var/log/btmp {
    missingok
    monthly
{% if ansible_distribution == "Ubuntu" %}
    # use the utmp group as ubuntu fails otherwise
    su root utmp
{% endif %}
    create 0660 root utmp
    rotate 1
}