---
- name: "Configure Proxy for APT."
  ansible.builtin.template:
    dest: /etc/apt/apt.conf.d/99proxy
    src: 99proxy.j2
    owner: root
    group: root
    mode: "0644"
  when: proxy_package_proxy_server | length > 0

- name: "Remove proxy for APT."
  ansible.builtin.file:
    path: '/etc/apt/apt.conf.d/99proxy'
    state: absent
  when: ( not proxy_package_proxy_server | length > 0 ) or ( not proxy_package_proxy_port | string | length > 0 )
