---
- name: Preflight - Fail if target host is not stable for this Role.
  ansible.builtin.fail:
    msg: "This role is not stable for the target operating system, {{ ansible_facts[distribution] }} {{ ansible_facts['distribution_major_version'] }}."
  when: (ansible_facts[distribution] is not defined) or
        (ansible_distribution_version is not defined) or
        (ansible_facts[distribution]+" "+ansible_facts['distribution_major_version'] not in certmanage_stable_os)

- name: Include OS Family specific Playbook.
  ansible.builtin.include_tasks: "{{ ansible_facts[os_family] }}.yml"
