---
sudo_stable_os:
  - CentOS-8
  - Debian-10
  - Debian-11
  - Debian-12
  - Debian-13
  - openSUSE Leap-15
  - openSUSE Leap-42
  - SLES-11
  - SLES-12
  - Rocky-9
  - Rocky-10
  - Ubuntu-18
  - Ubuntu-20
  - Ubuntu-22
  - Ubuntu-24

## Custom sudoers config can be defined on several levels and will be concatenated
## Make sure to use a filename you recognize
sudo_sudoers_config_global: []
# - filename: sudoers_config
#   state: present
#   lines:
#     - "root	ALL=(ALL:ALL) ALL"
#     - "john	ALL=(ALL:ALL) ALL"
sudo_sudoers_config_os: []
sudo_sudoers_config_system: []
sudo_sudoers_config_stage: []
sudo_sudoers_config_role: []

## Users can be defined on several levels and will be concatenated
sudo_passwordless_users_global: []
# - john
sudo_passwordless_users_os: []
sudo_passwordless_users_system: []
sudo_passwordless_users_stage: []
sudo_passwordless_users_role: []

sudo_defaults:
  - line: "# Defaults targetpw # ask for the password of the target user i.e. root"
    regex: '^Defaults\s*targetpw.*'
    state: 'present'
  - line: "# ALL ALL=(ALL) ALL # WARNING! Only use this together with 'Defaults targetpw'!"
    regex: '^ALL\s*ALL=\(ALL\)\s*ALL.*'
    state: 'present'
  - line: '%{{ sudo_admin_group }} ALL=({% if ansible_facts[''os_family''] == Debian %}ALL:ALL{% else %}ALL{% endif %}) ALL'
    regex: '(# |^)\%{{ sudo_admin_group }}\s*ALL=\({% if ansible_facts[''os_family''] == Debian %}ALL:ALL{% else %}ALL{% endif %}\)\s*ALL.*'
    state: 'present'
  - line: "#includedir /etc/sudoers.d"
    regex: '^#includedir\s*/etc/sudoers.d.*'
    state: 'present'
