---
- name: Verify
  hosts: all
  gather_facts: false
  tasks:

    - name: "Test Server is upgraded."
      ansible.builtin.package:
        name: "*"
        state: "latest"
      register: upgrade_status

    - name: "Debug."
      ansible.builtin.debug:
        var: upgrade_status

    - name: "Verify Server is upgraded."
      ansible.builtin.assert:
        that: not upgrade_status.changed and not upgrade_status.failed
