---
- name: "Ensure Dependencies are present. (Ansible Interpreter Python 2)"
  ansible.builtin.package:
    name: yum-utils
    state: present
  when: not ansible_python.executable = "/usr/bin/python3"

- name: "Ensure Dependencies are present. (Ansible Interpreter Python 3)"
  ansible.builtin.dnf:
    name: yum-utils
    state: present
  when: ansible_python.executable = "/usr/bin/python3"

- name: "Mark packages on hold."
  ansible.builtin.lineinfile:
    path: /etc/yum.conf
    line: 'exclude={{ item }}'
    state: present
  with_items: "{{ upgrade_packages_on_hold }}"

# We need to run the command instead of the module, so we can store the output in a list.
- name: "Store List of Updates for further Inspection."  # noqa command-instead-of-module no-changed-when
  ansible.builtin.command: yum check-update
  register: upgrade_update_list_yum
  failed_when: upgrade_update_list_yum.rc > 100
  when: upgrade_reporting_enable | bool

- name: "Upgrade via YUM."  # noqa package-latest
  ansible.builtin.yum:  # noqa fqcn # We are using the `yum` module intentionally here.
    name: "*"
    state: latest
    update_cache: true

- name: "Cleanup via YUM."
  ansible.builtin.yum:  # noqa fqcn # We are using the `yum` module intentionally here.
    state: absent
    autoremove: true

- name: "Unhold Packages."
  ansible.builtin.lineinfile:
    path: /etc/yum.conf
    line: 'exclude={{ item }}'
    state: absent
  with_items: "{{ upgrade_packages_on_hold }}"

- name: "Check for Reboot Hint."
  ansible.builtin.shell: needs-restarting -r
  args:
    executable: "/bin/bash"
  register: upgrade_upgrade_reboot_hint_yum
  failed_when: upgrade_upgrade_reboot_hint_yum.rc >= 2
  changed_when: upgrade_upgrade_reboot_hint_yum.rc == 1

- name: "Check for Service Restarts."
  ansible.builtin.shell: needs-restarting -s
  args:
    executable: "/bin/bash"
  register: upgrade_service_restarts_yum
  changed_when: "upgrade_service_restarts_yum.stdout | length"

- name: "Set Reboot Hint."
  ansible.builtin.set_fact:
    upgrade_reboot_hint: true
  when: upgrade_upgrade_reboot_hint_yum.rc == 1

- name: "Set Service Restarts."
  ansible.builtin.set_fact:
    upgrade_service_restarts: "{{ upgrade_service_restarts_yum.stdout_lines }}"
  when: "upgrade_service_restarts_yum.stdout_lines | length"
