---
- name: "Workaround - Install python-xml."  # noqa command-instead-of-module no-changed-when
  ansible.builtin.command: zypper in -y python-xml
  when: ansible_facts['distribution'] == "openSUSE Leap" and ansible_facts['distribution_major_version'] == "42"
  ignore_errors: true  # noqa ignore-errors

- name: "Ensure Dependencies are present."
  ansible.builtin.package:
    name: python-xml
    state: present

- name: "Mark packages on hold."  # noqa command-instead-of-module no-changed-when
  ansible.builtin.command: zypper al {{ item }}
  with_items: "{{ upgrade_packages_on_hold }}"

# We need to run the command instead of the module, so we can store the output in a list.
- name: "Store List of Updates for further Inspection."  # noqa command-instead-of-module no-changed-when
  ansible.builtin.command: zypper lu
  register: upgrade_update_list_zypper
  when: upgrade_reporting_enable | bool

- name: "Upgrade via ZYPPER."  # noqa package-latest
  community.general.zypper:
    name: "*"
    state: latest
    update_cache: true

- name: "Unhold packages."  # noqa command-instead-of-module no-changed-when
  ansible.builtin.command: zypper rl {{ item }}
  with_items: "{{ upgrade_packages_on_hold }}"

- name: "Check for reboot hint."  # noqa command-instead-of-module no-changed-when
  ansible.builtin.command: zypper ps -s
  register: upgrade_upgrade_reboot_hint_zypper
  changed_when: "'The following running processes use deleted files' in upgrade_upgrade_reboot_hint_zypper.stdout"

- name: "Set Reboot Hint."
  ansible.builtin.set_fact:
    upgrade_reboot_hint: true
  when: "'The following running processes use deleted files' in upgrade_upgrade_reboot_hint_zypper.stdout"
