---
webserver_stable_os:
  - CentOS-8
  - Debian-10
  - Debian-11
  - Debian-12
  - Debian-13
  - Fedora-42
  - openSUSE Leap-15
  - openSUSE Leap-42
  - SLES-11
  - SLES-12
  - Rocky-9
  - Rocky-10
  - Ubuntu-18
  - Ubuntu-20
  - Ubuntu-22
  - Ubuntu-24

webserver_name: []
webserver_user: []
webserver_conf_file: []
