---
- name: "Determine if /etc/resolv.conf is a Symlink."
  ansible.builtin.stat:
    path: /etc/resolv.conf
  register: common_resolv_symlink_status

- name: "Remove Symlink on /etc/resolv.conf for Ubuntu."
  ansible.builtin.file:
    path: /etc/resolv.conf
    state: absent
  when: common_resolv_symlink_status.stat.islnk is defined and common_resolv_symlink_status.stat.islnk

- name: "Make sure /etc/resolv.conf is modifiable for this play."  # noqa no-changed-when
  ansible.builtin.command: chattr -i /etc/resolv.conf
  when: |
    (common_resolv_symlink_status.stat.islnk is defined and not common_resolv_symlink_status.stat.islnk)
    and 'container' not in ansible_facts.virtualization_tech_guest

- name: "Configure DNS Servers for Host."
  ansible.builtin.template:
    src: resolv.conf.j2
    dest: /etc/resolv.conf
    backup: true
    mode: "0644"
    owner: root
    group: root
    setype: net_conf_t

- name: "Make sure /etc/resolv.conf is not modifiable by anyone."  # noqa no-changed-when
  ansible.builtin.command: chattr +i /etc/resolv.conf
  when: ('container' not in ansible_facts.virtualization_tech_guest)
