# {{ ansible_managed }}
# Level: Global
{% for user in sudo_passwordless_users_global %}
{{ user }} ALL = (ALL) NOPASSWD: ALL
{% endfor %}
# Level: OS
{% for user in sudo_passwordless_users_os %}
{{ user }} ALL = (ALL) NOPASSWD: ALL
{% endfor %}
# Level: System
{% for user in sudo_passwordless_users_system %}
{{ user }} ALL = (ALL) NOPASSWD: ALL
{% endfor %}
# Level: Stage
{% for user in sudo_passwordless_users_stage %}
{{ user }} ALL = (ALL) NOPASSWD: ALL
{% endfor %}
# Level: Role
{% for user in sudo_passwordless_users_role %}
{{ user }} ALL = (ALL) NOPASSWD: ALL
{% endfor %}
