---
- name: "Run Certmanage Role."
  become: true
  hosts: all
  roles:
    - certmanage

- name: "Run Common Role."
  become: true
  hosts: all
  roles:
    - common

- name: "Run Journald Role."
  become: true
  hosts: all
  roles:
    - journald

- name: "Run Logrotate Role."
  become: true
  hosts: all
  roles:
    - logrotate

- name: "Run NTP Role."
  become: true
  hosts: all
  roles:
    - ntp

- name: "Run Proxy Role."
  become: true
  hosts: all
  roles:
    - proxy

- name: "Run SSH Role."
  become: true
  hosts: all
  roles:
    - ssh

- name: "Run Sudo Role."
  become: true
  hosts: all
  roles:
    - sudo

- name: "Run Upgrade Role."
  become: true
  hosts: all
  roles:
    - upgrade

- name: "Run Webserver Role."
  become: true
  hosts: all
  roles:
    - webserver
