# https://github.com/ansible-collections/collection_template/blob/main/.github/workflows/ansible-test.yml
# README FIRST
# 1. replace "NAMESPACE" and "COLLECTION_NAME" with the correct name in the env section (e.g. with 'community' and 'mycollection')
# 2. If you don't have unit tests remove that section
# 3. If your collection depends on other collections ensure they are installed, see "Install collection dependencies"
# If you need help please ask in #ansible-community on the Libera.chat IRC network

env:
  NAMESPACE: thorian93
  COLLECTION_NAME: main

name: Linting
on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
      - devel
    paths:
      - 'roles/**'
      - 'playbooks/**'
  push:
    branches:
      - main
      - devel
    paths:
      - 'roles/**'
      - 'playbooks/**'
      - '.github/workflows/linting.yaml'

jobs:

  linting:
    runs-on: ubuntu-latest
    name: Run Linting

    steps:
      - name: Check out code
        uses: actions/checkout@v6
        with:
          path: ansible_collections/${{env.NAMESPACE}}/${{env.COLLECTION_NAME}}

      - name: "Install uv."
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          working-directory: ./ansible_collections/${{env.NAMESPACE}}/${{env.COLLECTION_NAME}}/

      - name: "Install Dependencies."
        run: uv sync
        working-directory: ./ansible_collections/${{env.NAMESPACE}}/${{env.COLLECTION_NAME}}/
        env:
          UV_SYSTEM_PYTHON: 1

      - name: "Install Checkmk Collection."
        run: uv run ansible-galaxy collection install ./
        working-directory: ./ansible_collections/${{env.NAMESPACE}}/${{env.COLLECTION_NAME}}/

      # Run the linting
      - name: "Run yamllint on roles."
        run:  uv run yamllint -c .yamllint ./roles/
        working-directory: ./ansible_collections/${{env.NAMESPACE}}/${{env.COLLECTION_NAME}}/

      - name: "Run yamllint on playbooks."
        run:  uv run yamllint -c .yamllint ./playbooks/
        working-directory: ./ansible_collections/${{env.NAMESPACE}}/${{env.COLLECTION_NAME}}/

      - name: "Run ansible-lint on roles."
        run:  uv run ansible-lint -c .ansible-lint ./roles/
        working-directory: ./ansible_collections/${{env.NAMESPACE}}/${{env.COLLECTION_NAME}}/
        env:
          ANSIBLE_LIBRARY: "./plugins/modules"
          ANSIBLE_ROLES_PATH: "./roles"

      - name: "Run ansible-lint on playbooks."
        run:  uv run ansible-lint -c .ansible-lint ./playbooks/
        working-directory: ./ansible_collections/${{env.NAMESPACE}}/${{env.COLLECTION_NAME}}/
        env:
          ANSIBLE_LIBRARY: "./plugins/modules"
          ANSIBLE_ROLES_PATH: "./roles"
