# https://github.com/ansible-collections/collection_template/blob/main/.github/workflows/ansible-test.yml
# README FIRST
# 1. replace "NAMESPACE" and "COLLECTION_NAME" with the correct name in the env section (e.g. with 'community' and 'mycollection')
# 2. If you don't have unit tests remove that section
# 3. If your collection depends on other collections ensure they are installed, see "Install collection dependencies"
# If you need help please ask in #ansible-community on the Libera.chat IRC network

name: Molecule Tests
on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
    paths:
      - 'roles/**'
  push:
    branches:
      - devel
    paths:
      - 'roles/**'

env:
  NAMESPACE: thorian93
  COLLECTION_NAME: main

jobs:
  build:
    runs-on: ubuntu-latest
    name: Run Molecule
    strategy:
      fail-fast: false
      matrix:
        role:
          - certmanage
          - common
          - journald
          - logrotate
          - ntp
          - proxy
          - ssh
          - sudo
          - upgrade
          - webserver

    steps:
      - name: "Check out code."
        uses: actions/checkout@v6
        with:
          path: ansible_collections/${{env.NAMESPACE}}/${{env.COLLECTION_NAME}}

      - name: "Install uv."
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          working-directory: ./ansible_collections/${{env.NAMESPACE}}/${{env.COLLECTION_NAME}}/

      - name: "Install Dependencies."
        run: uv sync
        working-directory: ./ansible_collections/${{env.NAMESPACE}}/${{env.COLLECTION_NAME}}

      - name: "Run Molecule."
        run: |
          cd roles/server/
          uv run molecule test --report -s ${{ matrix.checkmk }}
        working-directory: ./ansible_collections/${{env.NAMESPACE}}/${{env.COLLECTION_NAME}}
